<form >
 <div>
   <h2 class="t-align-c">Adicione os dados</h2>
 </div>
 
  <hr class="linha"/>

  <div class="linha-perguntas">
  <div class="lista-perguntas">
    <div class="m-botton perguntas">
        <label>Qual a sua idade ? </label>
        <br/>
        
        <input 
          placeholder="Digite sua idade..." 
          [(ngModel)]="idade" minlength="3" 
          maxlength="2" 
          type="txt" 
          name="idade" 
          (keyup)="limiteIdade($event)"
          />
      </div>

      <div class="m-botton perguntas">
        <label>Qual a sua altura ? </label>
        <br/>
        <input 
            placeholder="Digite sua altura..."
             maxlength="4" 
            [(ngModel)]="altura" name="altura" 
            (keyup)="validaCampo($event)" type="text"/>
      </div>

      <div class="m-botton perguntas">
        <label>Qual o seu peso ? </label>
        <br/>

        <input 
          placeholder="Digite seu peso..." 
          maxlength="4" 
          [(ngModel)]="peso" 
          (keyup)="validaPeso($event)" 
          name="peso" 
          type="text"/>
      </div>
  </div>
    
    <div class="dados">
       <!-- mostra os dados -->
       <div class="dados-usuario" *ngIf="!resultImc">
        <h3>Nenhum Imc a ser mostrado.</h3>  
      </div>

      <div class="dados-usuario" *ngIf="resultImc">
        <h3>Resultado do IMC</h3>  
        <p>
            O seu indice corporal é : 
            <strong>{{imcCorporal}}</strong>.
        </p>
        <p>
            Para a sua idade <strong>{{idade}}</strong> 
            anos você foi classificado com peso 
            <strong>{{mensagemUsuario}}</strong>.
        </p>
      </div>
    </div>
  </div>
  
   
    <!-- botoes -->
    <hr class="linha"/>
    <div class="alinha-btn">
      <button type="button" class="btn" (click)="encontraImc()">Calcular</button>
      <button type="reset" class="btn m-left" (click)="limparImc()" >Limpar</button>
    </div>
</form>